@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik";
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  padding-top: 40px;
}

.logo {
  position: absolute;
  top: -61px;
  left: 60px;
  cursor: pointer;
}

.logo:hover {
  color: black;
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.logo:focus {
  outline: 2px solid #AF4FFF;
  box-sizing: border-box;
}

.navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: #000000;
}

.navigation-login {
  position: relative;
}

.navigation-login::before {
  position: absolute;
  content: "";
  background-image: url(../images/user-icon.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 9px;
  right: 26px;
}

.navigation-compare {
  position: relative;
}

.navigation-compare::before {
  position: absolute;
  content: "";
  background-image: url(../images/compare-icon.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 9px;
  right: 22px;
}

.navigation-cart {
  position: relative;
}

.navigation-cart::before {
  position: absolute;
  content: "";
  background-image: url(../images/shopping-cart-icon.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 8px;
  right: 24px;
}

.navigation-background {
  padding-top: 41px;
  background-color: #FFE17F;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 150px;
  z-index: 0;
  position: relative;
}

.navigation-services-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 45px;
  letter-spacing: 0.2em;
}

.footer-text-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 62px;
}

.footer-address {
  width: 239px;
  margin: 0;
  margin-right: 119px;
}

.footer-logo-link {
  margin-bottom: 35px;
}

.footer-services-list {
  list-style: none;
  display: flex;
  width: 444px;
  column-gap: 35px;
  margin: 0;
  padding: 0;
  margin-right: 183px;
}

.footer-services-link {
  letter-spacing: 0.2em;
}

.more-details-link {
  letter-spacing: 0.2em;
}

.footer-links-wrapper {
  display: flex;
}

.footer-social-list {
  list-style: none;
  display: flex;
  column-gap: 15px;
  margin: 0;
  padding: 0;
  margin-right: 390px;
  margin-left: 505px;
}

.footer-social-item::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.footer-social-item {
  position: relative;
}

.footer-social-link {
  position: absolute;
  top: 11px;
  left: 12px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.navigation-catalog-wrapper {
  display: flex;
  align-items: center;
}

.navigation-catalog-title {
  margin: 0;
  margin-right: 10px;
  letter-spacing: 0.2em;
}

.catalog-open-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: inherit;
  opacity: 0.3;
  border: 2px solid #000000;
  margin-right: 285px;
}

.catalog-open-btn::before {
  content: "+";
  color: #000000;
  font-size: 30px;
}

.item-slider-container {
  width: 1160px;
  display: flex;
  margin: 0 auto;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: flex;
  margin: 0;
  margin-top: -28px;
}

.slider-item-image {
  margin-top: -115px;
  margin-right: 40px;
}

.slider-more-details {
  position: relative;
  margin-left: 40px;
  width: 200px;
}

.slider-more-details::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 220px;
  height: 8px;
  top: 6px;
  left: -40px;
  background-color: #FFE17F;
  z-index: -1;
}

.slider-more-details:hover::before {
  height: 40px;
  top: -8px;
  transition: all .1s ease-in-out;
}

.slider-more-details:active::before {
  height: 40px;
  top: -8px;
  background-color: #FFCC33;
}

.first-item {
  position: relative;
}

.first-item::before {
  position: absolute;
  content: "01";
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  right: 49px;
  top: -45px;
  color: #FFFFFF;
  z-index: 0;
}

.item-features-list {
  display: flex;
  margin: 0;
  margin-top: 50px;
}

.search-form {
  display: flex;
  margin-right: 53px;
  position: relative;
}

.login-link {
  margin-right: 198px;
}

.compare-link {
  margin-right: 61px;
}

.navigation-input {
  width: 359px;
  padding: 10px 0 10px 48px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  box-sizing: border-box;
  background-color: transparent;
}

.search-form::before {
  content: "";
  background-image: url(../images/search-icon.svg);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 16px;
  top: 14px;
  background-repeat: no-repeat;
}

.mail-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.subsription-input {
  width: 557px;
  border: none;
  border-bottom: 3px solid #C4C4C4;;
  outline: none;
  padding: 11px 0 14px 16px;
  border-radius: initial;
}

.submit-btn {
  width: 253px;
  box-sizing: border-box;
  border: 3px solid #C4C4C4;
  letter-spacing: 0.2em;
  padding: 18px 39px;
}

.search-btn {
  width: 160px;
  border: 2px solid #000000;
  border-left: none;
  border-radius: 0 50px 50px 0;
  background-color: transparent;
  padding: 10px 56px;
}

.page-container {
  width: 1440px;
  margin: 0 auto;
}

.page-footer-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1440px;
  background-color: #444444;
  color: #FFFFFF;
  padding: 62px 140px 61px 140px;
  box-sizing: border-box;
}

.catalog-items-list {
  display: none;
  list-style: none;
}

.slider-item {
  display: flex;
}

.item-description-wrapper {
  display: flex;
  flex-direction: column;
  width: 560px;
  z-index: 1;
}

.item-groups-list {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 158px;
  column-gap: 40px;
  list-style: none;
}

.item-group {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.services-container {
  display: flex;
  justify-content: center;
  background-color: #F0F0F0;
  padding: 0 140px 72px 140px;
  margin-bottom: 70px;
  z-index: -1;
  position: relative;
}

.services-btn {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  padding: 10px 124px 10px 4px;
  background-color: transparent;
  color: #000000;
  border: none;
  box-sizing: border-box;
}

.services-btn-checked {
  width: 280px;
  box-sizing: border-box;
  padding: 9px 120px 11px 0;
  background-color: #000000;
  color: #FFE17F;
  border: none;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.services-btn-not-checked {
  position: relative;
}

.services-btn-not-checked::before {
  position: absolute;
  content: "";
  width: 160px;
  height: 8px;
  top: 16px;
  left: 0;
  background-color: #FFE17F;
  z-index: -1;
}

.services-navigation {
  display: flex;
  flex-direction: column;
  width: 287px;
  row-gap: 35px;
  margin-right: 123px;
  top: -40px;
  position: relative;
}

.services-navigation::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 319px;
  background: #000000;
  left: 280px;
  top: -64px;
}

.special-delivery-link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1160px;
  text-transform: uppercase;
}

.company-info-wrapper {
  display: grid;
  grid-template-columns: 520px 532px;
  gap: 108px;
  width: 1160px;
  margin: 0 auto;
}

.company-info-container {
  padding-top: 47px;
  padding-bottom: 70px;
}

.subscribe-container {
  background-color: #F0F0F0;
  box-sizing: border-box;
  width: 1440px;
  padding: 64px 141px 48px 141px;
}

.subscribe-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 152px;
}

.subsription-form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subsription-form {
  width: 810px;
  display: flex;
}

.subscribe-description {
  width: 560px;
}

.services-description {
  display: flex;
  flex-direction: column;
  width: 694px;
  position: relative;
  top: -30px;
}

.services-description-text {
  margin: 0;
  width: 452px;
}

.services-icon {
  position: absolute;
  right: -246px;
}

.navigation-text {
  font-family: "Raleway";
  font-weight: 800;
  text-transform: uppercase;
}

.catalog-items-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.description-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
}

.title-text {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.tagline {
  margin-bottom: 29px;
}

.tagline-description {
  margin-bottom: 50px;
}

.company-info-title {
  margin-bottom: 48px;
}

.company-info-descripton {
  margin-bottom: 30px;
}

.delivery-type::marker {
  width: 8px;
  height: 8px;
  color: #FFC700;
}

.delivery-type:not(:last-child) {
  margin-bottom: 19px;
}

.delivery-types-list {
  margin-bottom: 30px;
}

.services-title {
  margin-bottom: 34px;
}

.contacts-text {
  margin: 0;
  margin-bottom: 15px;
}

.feature-result {
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 12px;
}

.feature-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  margin-right: 20px;
}

.item-group-name {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin: 0;
}

.item-group-link {
  display: flex;
  flex-direction: column;
}

.item-group-icon {
  display: block;
}

.icon-background {
  padding: 52px 32px 52px 31px;
  background-color: #FFE17F;
  margin-bottom: 32px;
}

.item-group:nth-child(2) .icon-background {
  padding: 43px 37px 0 37px;
}

.item-group:nth-child(3) .icon-background {
  padding: 36px 45px 37px 44px;
}

.item-group:nth-child(4) .icon-background {
  padding: 47px 27px 48px 26px;
}

.item-group:nth-child(5) .icon-background {
  padding: 31px 52px;
}

.item-group:last-child .icon-background {
  padding: 45px 14px;
}

.special-delivery-description {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  width: 1035px;
  text-align: center;
  background: #F0F0F0;
  margin: 0;
  padding-top: 39px;
  padding-bottom: 39px;
}

.special-delivery-container {
  display: flex;
  margin: 0 auto;
  width: 1160px;
  margin-bottom: 70px;
}

.special-delivery-icon {
  padding: 35px 39px 35px 39px;
  background: #FFE17F;
}

.delivery-types-list,
.catalog-title-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.contacts-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.small-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.filter-title-text {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
}

.filter-title {
  margin-bottom: 72px;
}

.range-scale-result {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.3;
}

.sorting-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.product-price{
  color: #444444;
}

.show-more-btn {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.link-text {
  text-decoration: none;
  color:#000000;
}

.footer-link-text {
  text-decoration: none;
  color:#FFFFFF;
}

.contact-number-text {
  color:#FFFFFF;
}

.pagination-text {
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}

.pagination-text-current {
  text-decoration: none;
  color: #444444;
}

.catalog-products {
  display: flex;
  background-color: #F0F0F0;
}

.navigation-background-catalog {
  padding-bottom: 20px;
}

.catalog-filter-container {
  width: 320px;
  padding: 25px 60px 0 60px;
  box-sizing: border-box;
}

.catalog-right-column {
  width: 840px;
  background-color: #FFFFFF;
}

.inner-header {
  width: 1440px;
  padding-left: 200px;
  padding-top: 35px;
  padding-bottom: 34px;
}

.inner-header-title {
  margin-bottom: 16px;
}

.breadcrumbs {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  column-gap: 36px;
}

.range-scale {
  position: relative;
  width: 200px;
  height: 2px;
  background-color: #DCDCDC;
  margin-bottom: 81px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
  width: 119px;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #F0F0F0;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -18px;
}

.range-scale-result-min {
  position: absolute;
  top: 11px;
  color: #000000;
  opacity: 0.3;
}

.range-scale-result-max {
  position: absolute;
  top: 11px;
  left: 97px;
  width: 71px;
  color: #000000;
  opacity: 0.3;
}

.catalog-filter-group {
  border: 0;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  margin-bottom: 20px;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 47px;
}

.color-filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.bluetooth-filter-item:not(:last-child) {
  margin-bottom: 20px;
}

.bluetooth-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.more-btn {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.filter-btn {
  width: 220px;
  border: none;
}

.sorting-container {
  display: flex;
  padding-bottom: 17px;
  padding-top: 20px;
  background: #F0F0F0;
}

.sorting-container-title {
  margin-right: 206px;
  margin-left: 40px;
}


.select-control {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: none;
  width: 139px;
  background: #F0F0F0;
  margin-right: 206px;
  display: flex;
  align-self: flex-start;
}

.sorting-btn-up {
  border: none;
  padding: 0;
}

.sorting-btn-up::before {
  content: url(../images/sort-arrow.svg);
}

.sorting-btn-down {
  border: none;
  padding: 0;
}

.sorting-btn-down::before {
  content: url(../images/sort-arrow-down.svg);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
  padding-top: 70px;
  column-gap: 40px;
  row-gap: 40px;
  padding-bottom: 40px;
}

.product-card-description {
  display: flex;
  justify-content: space-between;
}

.product-name {
  margin: 0;
  max-width: 226px;
}

.product-card-image {
  margin-bottom: 32px;
}

.catalog-show-more-btn {
  display: block;
  margin: 0 auto;
  width: 760px;
  border: 3px solid #E5E5E5;
  box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 44px;
  background: #FFFFFF;
}

.pagination-wrapper {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background: #EBEBEB;
  column-gap: 145px;
  align-items: center;
  margin-bottom: 78px;
}

.pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-items: center;
}

.pagination-item {
  width: 40px;
}

.change-page-link {
  width: 78px;
  padding: 25px;
  box-sizing: border-box;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
}

.control-input[type="checkbox"]:checked + .control-mark::before{
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  background-image: url(../images/check-box.svg);
  content: "";
  background-repeat: no-repeat;
  cursor: pointer;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: #000000;
  border-radius: 50%;
  content: "";
}
